<p>config-based-form works!</p>
<div *ngFor="let field of formConfig; let fieldIdx = index">
  @switch (field.type) {
    @case ('input-text') {
      <label>
        {{ field.label }}
        <input
          type="text"
          [placeholder]="field.placeholder"
        >
      </label>
    }
    @case ('input-checkbox') {
      <label>
        {{ field.label }}
        <input
          type="checkbox"
        >
      </label>
    }
    @case ('select') {
      <select>
        <option
          *ngFor="let option of field.options"
          [value]="option"
        >{{ option }}
        </option>
      </select>
    }
  }
  <button (click)="deleteFieldByIdx(fieldIdx)">Delete</button>
  <button (click)="editFieldByIdx(fieldIdx)">Edit</button>
</div>