<div class="bg-amber-200 p-2">
  <span class="text-xs font-bold">input-checkbox-field-configurator</span>
  <form
    class="flex flex-col gap-2"
    [formGroup]="form"
    (ngSubmit)="configured()"
  >
    <input
      class="input input-text"
      type="text"
      placeholder="Label..."
      formControlName="label"
    >
    <div class="flex gap-2">
      <button
        class="btn btn-white"
        type="submit"
        [disabled]="!form.valid"
      >Add field
      </button>
      <div class="p-1 bg-blue-200">
        <ng-content></ng-content>
      </div>
    </div>
  </form>
</div>