<p>field-configurator works!</p>
<div>
  <button
    *ngFor="let type of fieldTypes"
    type="button"
    (click)="setFieldTypeTo(type.type)"
  >{{type.label}}</button>

  @switch (fieldType$ | async) {
    @case ('input-text') {
      <app-input-text-field-configurator
        (fieldConfigured)="fieldConfigured($event)"
      ></app-input-text-field-configurator>
    }
    @case ('input-checkbox') {
      <app-input-checkbox-field-configurator
        (fieldConfigured)="fieldConfigured($event)"
      ></app-input-checkbox-field-configurator>
    }
    @case ('select') {
      <app-select-field-configurator
        (fieldConfigured)="fieldConfigured($event)"
      ></app-select-field-configurator>
    }
  }
</div>
<button (click)="closeFieldConfigurator()">Close</button>

<pre>{{fieldType$ | async | json}}</pre>
<pre>{{fieldToEdit$ | async | json}}</pre>