<div class="bg-blue-200 p-2">
  <div class="text-xs font-bold">field-configurator</div>
  <div class="flex flex-col gap-2">
    <div class="inline-flex">
      <button
        class="btn btn-white"
        *ngFor="let type of fieldTypes"
        type="button"
        (click)="setFieldTypeTo(type.type)"
      >{{ type.label }}
      </button>
    </div>

    @switch (fieldType$ | async) {
      @case ('input-text') {
        <app-input-text-field-configurator
          (fieldConfigured)="fieldConfigured($event)"
        >
          <div class="flex flex-col">
            <span class="text-xs leading-none">ng-content</span>
            <button
              class="btn btn-white"
              (click)="closeFieldConfigurator()"
            >Close
            </button>
          </div>
        </app-input-text-field-configurator>
      }
      @case ('input-checkbox') {
        <app-input-checkbox-field-configurator
          (fieldConfigured)="fieldConfigured($event)"
        >
          <div class="flex flex-col">
            <span class="text-xs leading-none">ng-content</span>
            <button
              class="btn btn-white"
              (click)="closeFieldConfigurator()"
            >Close
            </button>
          </div>
        </app-input-checkbox-field-configurator>
      }
      @case ('select') {
        <app-select-field-configurator
          (fieldConfigured)="fieldConfigured($event)"
        >
          <div class="flex flex-col">
            <span class="text-xs leading-none">ng-content</span>
            <button
              class="btn btn-white"
              (click)="closeFieldConfigurator()"
            >Close
            </button>
          </div>
        </app-select-field-configurator>
      }
      @default {
        <div class="flex flex-col">
          <span class="text-lg font-bold">Pick the type of field you want to add.</span>
          <div class="block">
            <button
              class="btn btn-white"
              (click)="closeFieldConfigurator()"
            >Close
            </button>
          </div>
        </div>
      }
    }


    <pre>fieldToEdit$: {{ fieldToEdit$ | async | json }}</pre>
  </div>
</div>